.register {
    .table_head {
        color: black;
        font-size: 22px;
        font-weight: bold;
        // line-height: 80px;
        margin-top: 26px;
        position: relative;

        span {
            text-align: center;
            width: 166px;
            display: inline-block;
        }
        span:last-child{
            border-left: 1px solid #eee;
        }
        .active{
            color: #D70057;
        }
    }
    .inp{
        width: 337px;
        height: 48px;
        border: 1px solid #eee;
        margin-top: 40px;
        input{
            line-height: 48px;
            border: 0;
            padding-left: 10px;
            color: #999;
        }
    }
    .btnlogin{
        span{
            width: 100%;
            display: block;
            background: #D70057;
            text-align: center;
            line-height: 50px;
            font-size: 22px;
            color: #fff;
            margin-top: 40px;
        }
    }
    .wangji{
        float: right;
        font-size: 12px;
        margin-top: 20px;
    }
    .party{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #F6F6F6;
        height: 50px;
        .left{
            height: 50px;
            float: left;
            a{

                text-align: center;
                margin-top: 18px;
                padding: 0 8px;
                display: inline-block;
                width: 16px;
                height: 18px;
                border-right: 1px solid #999;
                background: url("http://0.js.al.okbuycdn.com/resources/images/v6/common/ui_login.png") -19px -58px no-repeat;
            }
            a:last-child{
                border: 0;
            }
        }
        .right{
            float: right;
            margin-top: 15px;
            i{
                
                display: inline-block;
                width: 16px;
                height: 17px;
                vertical-align: middle;
                margin: -3px 5px 0 0 ;
                background: url("http://0.js.al.okbuycdn.com/resources/images/v6/common/ui_login.png") -76px -30px no-repeat;
                
            }
            margin-right: 20px;

        }
    }

}