* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  outline: none;
  user-select: none; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #5a5a5a; }

input {
  outline: none; }

#banner {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  #banner .benul {
    width: 100%;
    height: 430px;
    line-height: 430px;
    list-style: none;
    position: relative;
    display: inline-block; }
    #banner .benul li {
      left: 0px;
      height: 430px;
      opacity: 0;
      position: absolute;
      width: 100%;
      transition: .5s ease-in; }
      #banner .benul li:nth-child(1) {
        opacity: 1; }
      #banner .benul li a {
        display: block;
        background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/loading1.gif) no-repeat center center;
        position: relative; }
  #banner .leftrightbtn {
    position: absolute;
    width: 1200px;
    height: 60px;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto; }
    #banner .leftrightbtn .prev {
      width: 30px;
      height: 60px;
      line-height: 70px;
      margin-left: -10px;
      background-image: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/bg_direction_nav.png);
      cursor: pointer;
      pointer-events: auto;
      float: left;
      display: none; }
      #banner .leftrightbtn .prev:hover {
        background-position: 0 -60px; }
    #banner .leftrightbtn .next {
      margin-right: 10px;
      display: none;
      float: right;
      width: 30px;
      height: 60px;
      line-height: 70px;
      background-image: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/bg_direction_nav.png);
      background-position: -30px 0;
      cursor: pointer;
      pointer-events: auto; }
      #banner .leftrightbtn .next:hover {
        background-position: -30px -60px; }
  #banner .progress-bar-ol {
    height: 14px;
    line-height: 14px;
    list-style: none;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    z-index: 6; }
    #banner .progress-bar-ol li {
      min-width: 15px;
      *width: 25px;
      height: 14px;
      text-align: center;
      float: left;
      margin-right: 8px; }
      #banner .progress-bar-ol li a {
        width: 6px;
        height: 6px;
        display: inline-block;
        border: 1px solid #cecece;
        border-radius: 4px;
        background: #fff;
        text-indent: -999px;
        overflow: hidden; }
      #banner .progress-bar-ol li .active {
        width: 8px;
        height: 8px;
        display: inline-block;
        border: 3px solid #ccc;
        border-radius: 7px;
        background: #000;
        text-indent: -999px;
        overflow: hidden; }
  #banner .banner-recommend {
    width: 215px;
    height: 420px;
    margin-left: 380px;
    position: absolute;
    left: 50%;
    top: 5px;
    overflow: hidden;
    z-index: 12; }
    #banner .banner-recommend .banner-recommend_bg {
      width: 215px;
      height: 420px;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff; }
    #banner .banner-recommend .ban_tit0 {
      width: 187px;
      height: 96px;
      padding: 14px 14px 0;
      border-bottom: 1px solid #eee;
      position: relative;
      z-index: 5; }
      #banner .banner-recommend .ban_tit0 .ban_tit0_d1 {
        height: 69px; }
        #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_tit_tx {
          color: #666; }
          #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_tit_tx .ban_tit_txd {
            width: 130px;
            height: 40px;
            float: right;
            margin-top: 4px; }
            #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_tit_tx .ban_tit_txd p a {
              color: #666;
              text-decoration: none; }
              #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_tit_tx .ban_tit_txd p a:hover {
                color: #ff6f6f;
                text-decoration: underline; }
        #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_txta {
          width: 200px;
          margin-top: 10px; }
          #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_txta a {
            width: 185px;
            height: 26px;
            line-height: 26px;
            text-align: center;
            border: none;
            border-radius: 1px;
            background: #fff3f5;
            color: #ff6f6f; }
            #banner .banner-recommend .ban_tit0 .ban_tit0_d1 .ban_txta a:hover {
              background: #ff6f6f;
              color: #fff; }
    #banner .banner-recommend .ban_tit1 {
      height: 110px;
      margin: 10px 15px 0;
      font-family: '\5FAE\8F6F\96C5\9ED1';
      background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/ban_tit11.png) no-repeat 0 0;
      position: relative;
      overflow: hidden; }
      #banner .banner-recommend .ban_tit1 .ban_more {
        padding-right: 14px;
        position: absolute;
        right: 0;
        top: 0;
        color: #999; }
        #banner .banner-recommend .ban_tit1 .ban_more:hover {
          color: #ff6f6f;
          text-decoration: underline; }
      #banner .banner-recommend .ban_tit1 .ban_qnew {
        height: 75px;
        margin-top: 30px;
        line-height: 25px; }
        #banner .banner-recommend .ban_tit1 .ban_qnew li {
          width: 178px;
          margin-left: 5px;
          line-height: 25px;
          color: #666;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          #banner .banner-recommend .ban_tit1 .ban_qnew li a {
            color: #666; }
            #banner .banner-recommend .ban_tit1 .ban_qnew li a:hover {
              text-decoration: underline;
              color: #ff6f6f; }
          #banner .banner-recommend .ban_tit1 .ban_qnew li span {
            margin-right: 6px;
            font-weight: 700; }
    #banner .banner-recommend .ban_tit2 {
      width: 217px;
      height: 182px;
      font-family: '\5FAE\8F6F\96C5\9ED1';
      position: absolute;
      bottom: 0;
      left: 0; }
      #banner .banner-recommend .ban_tit2 .ban_life {
        margin: 0 auto;
        overflow: hidden;
        border-top: 1px solid #eee; }
        #banner .banner-recommend .ban_tit2 .ban_life li {
          width: 71px;
          float: left;
          border-bottom: 1px solid #eee;
          border-right: 1px solid #eee;
          text-align: center;
          padding-top: 7px;
          height: 53px; }
          #banner .banner-recommend .ban_tit2 .ban_life li a {
            display: block;
            color: #666; }
            #banner .banner-recommend .ban_tit2 .ban_life li a:hover {
              text-decoration: underline;
              color: #ff6f6f; }
            #banner .banner-recommend .ban_tit2 .ban_life li a:hover .life_i {
              background-position: 0 -28px; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i {
              width: 42px;
              height: 28px;
              margin: 0 auto; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i1 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i1.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_iz1 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz1.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i4 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i4.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_iz2 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz2.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_iz3 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz3.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_iz4 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_iz4.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i6 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i6.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i9 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i9.png) no-repeat 0 0; }
            #banner .banner-recommend .ban_tit2 .ban_life li a .life_i3 {
              background: url(//img.iblimg.com/respc-1/resources/v4.2/css/i/life_i3.png) no-repeat 0 0; }

.w1200 {
  width: 1200px;
  margin: 0 auto; }

.header {
  background: #f2f2f2; }
  .header a {
    transition: color .3s linear; }
  .header a:hover {
    color: #d70057; }
  .header .nav {
    height: 29px;
    border-bottom: 1px solid #dcdcdc; }
    .header .nav .w1200 .tinfo {
      float: right;
      font: 12px/28px ""; }
      .header .nav .w1200 .tinfo .shu {
        color: #d9d9d9;
        float: left; }
      .header .nav .w1200 .tinfo .navinfo {
        position: relative;
        float: left;
        text-align: center;
        padding: 0 10px;
        border: 1px solid #f2f2f2;
        border-top: 0;
        z-index: 999; }
        .header .nav .w1200 .tinfo .navinfo .arrowtop {
          background: url("http://0.js.al.okbuycdn.com/resources/images/v6/common/section-tigger.png") -30px -37px no-repeat;
          width: 11px;
          height: 7px;
          display: inline-block;
          margin-left: 4px;
          position: relative; }
        .header .nav .w1200 .tinfo .navinfo:hover {
          background: white;
          border: 1px solid #DCDCDC;
          border-top: 0; }
        .header .nav .w1200 .tinfo .navinfo:hover .navinfobtm {
          background: white;
          display: block; }
        .header .nav .w1200 .tinfo .navinfo .navinfobtm {
          display: none; }
          .header .nav .w1200 .tinfo .navinfo .navinfobtm p {
            text-align: initial;
            line-height: 28px; }
            .header .nav .w1200 .tinfo .navinfo .navinfobtm p a {
              transition: color .3s linear; }
            .header .nav .w1200 .tinfo .navinfo .navinfobtm p :hover {
              color: #D70057; }
          .header .nav .w1200 .tinfo .navinfo .navinfobtm img {
            margin-top: 10px; }
      .header .nav .w1200 .tinfo .unlogin {
        float: left;
        display: block;
        margin-right: 10px; }
        .header .nav .w1200 .tinfo .unlogin a,
        .header .nav .w1200 .tinfo .unlogin span {
          display: block;
          float: left; }
        .header .nav .w1200 .tinfo .unlogin .shu {
          margin: 0 10px; }
  .header .c {
    height: 110px; }
    .header .c .w1200 {
      position: relative; }
      .header .c .w1200 .logo {
        float: left; }
      .header .c .w1200 .search {
        position: absolute;
        left: 334px;
        top: 24px; }
        .header .c .w1200 .search .searching {
          float: left;
          width: 364px;
          padding: 0 0 0 10px;
          line-height: 32px;
          height: 32px;
          border: 3px solid #d70057; }
        .header .c .w1200 .search .searchBtn {
          float: left;
          background: url("http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png") -31px -4px no-repeat;
          width: 98px;
          height: 38px;
          border: 0; }
      .header .c .w1200 .hotWords {
        position: absolute;
        left: 338px;
        top: 72px;
        height: 16px;
        width: 420px;
        overflow: hidden; }
        .header .c .w1200 .hotWords a {
          margin-right: 10px; }
      .header .c .w1200 .cart {
        background: #ffda73 url("http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png") -238px -4px no-repeat;
        width: 248px;
        height: 32px;
        color: #444;
        position: absolute;
        line-height: 39px;
        right: 10px;
        top: 30px; }
        .header .c .w1200 .cart span {
          height: 28px;
          width: 175px;
          background-color: #fff;
          display: block;
          line-height: 28px;
          text-align: center;
          position: absolute;
          right: 2px;
          top: 2px; }
        .header .c .w1200 .cart b {
          padding: 0 5px;
          color: #d70057;
          font-weight: normal; }
  .header .nnav {
    height: 40px;
    width: 100%;
    background-color: #000; }
    .header .nnav .w1200 {
      position: relative; }
      .header .nnav .w1200 .nnavwrap li:first-child a {
        background-color: #d70057; }
      .header .nnav .w1200 .nnavwrap .cur {
        width: 100px;
        text-align: center;
        float: left;
        display: block;
        color: #fff;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        transition: color .3s linear; }
      .header .nnav .w1200 .nnavwrap .nav:hover {
        color: #d70057; }
      .header .nnav .w1200 .navvsub {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 900;
        max-width: 1200px;
        height: 400px;
        background-color: #fff;
        box-shadow: 2px 2px 4px #acacac; }
      .header .nnav .w1200 .colbox {
        display: inline-block;
        float: left;
        padding: 10px 12px;
        height: 352px;
        overflow: hidden;
        border-right: 1px dashed #aeaeae; }
        .header .nnav .w1200 .colbox h3 {
          font-size: 12px;
          font-weight: bold;
          color: #d20d33; }
        .header .nnav .w1200 .colbox .catewrap {
          width: 360px;
          line-height: 12px;
          padding-top: 12px;
          overflow: hidden; }
          .header .nnav .w1200 .colbox .catewrap .black {
            color: #5e5e5e; }
          .header .nnav .w1200 .colbox .catewrap .context {
            margin-top: 16px; }
            .header .nnav .w1200 .colbox .catewrap .context a {
              float: left;
              display: inline;
              margin-right: 15px;
              margin-bottom: 8px;
              white-space: nowrap;
              color: #5e5e5e;
              overflow: hidden; }

.banner #bannert {
  height: 350px;
  width: 100%;
  background-image: url(http://i.okaybuy.cn/static/8ca3b5fc20821d41789eb389839fcd57.jpg);
  background-position: center top;
  background-repeat: no-repeat; }
  .banner #bannert .w1200 {
    position: relative; }
    .banner #bannert .w1200 .left {
      position: absolute;
      width: 22px;
      height: 36px;
      top: 150px;
      background: url("http://0.js.al.okbuycdn.com/resources/images/v6/index/slideconcroll.png") no-repeat 0 0;
      z-index: 200;
      display: block; }
    .banner #bannert .w1200 .right {
      position: absolute;
      width: 22px;
      height: 36px;
      top: 150px;
      right: 0;
      background: url("http://0.js.al.okbuycdn.com/resources/images/v6/index/slideconcroll.png") no-repeat 0 0;
      z-index: 200;
      display: block;
      transform: rotateY(180deg); }

.brand {
  height: 315px;
  background-color: #f5f5f5;
  width: 100%; }
  .brand .w1200 .brandin {
    width: 1200px;
    height: 194px;
    overflow: hidden;
    margin-top: 4px; }
    .brand .w1200 .brandin .brandinin a {
      width: 99px;
      height: 64px;
      background-color: #fff;
      display: block;
      float: left;
      border-right: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      text-align: center; }
      .brand .w1200 .brandin .brandinin a img {
        margin-top: 7px; }

.list2 {
  margin-top: 30px; }
  .list2 ul {
    width: 110%; }
    .list2 ul li {
      margin-right: 10px;
      margin-bottom: 10px;
      float: left; }
      .list2 ul li a {
        border: 1px solid #e9e7ea;
        display: block;
        float: left;
        position: relative;
        width: 593px;
        height: 208px; }
        .list2 ul li a:hover {
          border: 1px solid #d70057; }
        .list2 ul li a img {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          width: 593px;
          height: 208px; }
        .list2 ul li a span {
          position: absolute;
          z-index: 2;
          left: 0;
          color: #333;
          font-size: 12px;
          line-height: 18px;
          width: 200px;
          text-align: center; }
        .list2 ul li a .tit1 {
          top: 76px; }
        .list2 ul li a .tit2 {
          top: 94px; }
        .list2 ul li a .tit3 {
          top: 144px;
          line-height: 18px;
          color: #d70057;
          font-size: 20px;
          font-weight: bold; }
        .list2 ul li a .time {
          top: 180px;
          bottom: 10x; }

.list3 {
  overflow: hidden; }
  .list3 .list3in ul {
    width: 110%; }
    .list3 .list3in ul li {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px; }
      .list3 .list3in ul li a {
        display: block;
        border: 1px solid #e9e7ea;
        width: 388px;
        height: 329px;
        position: relative; }
        .list3 .list3in ul li a:hover {
          border: 1px solid #d70057; }
        .list3 .list3in ul li a .list3tit1 {
          position: absolute;
          z-index: 2;
          left: 20px;
          bottom: 50px;
          color: #333;
          line-height: 18px;
          width: 250px;
          font-size: 18px; }
          .list3 .list3in ul li a .list3tit1 span {
            color: #d70057;
            font-weight: bold;
            font-size: 18px; }
        .list3 .list3in ul li a .time {
          position: absolute;
          z-index: 2;
          left: 20px;
          bottom: 20px;
          color: #666; }

.footer {
  border-top: solid 1px #a6a6a6;
  margin-top: 40px; }
  .footer .conn {
    border: solid 1px #c3c3c3;
    background-color: #e6e6e6;
    padding: 28px 0 0 0; }
    .footer .conn .w1200 {
      width: 1250px; }
      .footer .conn .w1200 .qd {
        overflow: hidden;
        margin-left: 26px; }
        .footer .conn .w1200 .qd .footer_code {
          padding-bottom: 10px;
          float: left;
          overflow: hidden;
          margin-left: 90px;
          width: 480px;
          margin: 0 0 0 35px;
          text-align: center;
          background-color: #fff; }
          .footer .conn .w1200 .qd .footer_code .wx_code {
            float: left;
            width: 120px;
            text-align: center;
            margin-right: 60px;
            margin-left: 60px; }
            .footer .conn .w1200 .qd .footer_code .wx_code img {
              width: 90px;
              margin-top: 20px; }
            .footer .conn .w1200 .qd .footer_code .wx_code p {
              margin-top: 8px;
              text-align: center;
              font-size: 14px;
              color: #333; }
        .footer .conn .w1200 .qd .abm {
          float: right; }
          .footer .conn .w1200 .qd .abm li {
            float: left;
            width: 120px;
            display: inline;
            border-left: solid 1px #fff;
            margin-right: 30px; }
            .footer .conn .w1200 .qd .abm li .tit {
              line-height: 24px;
              background-color: #fff;
              margin-bottom: 14px;
              font-size: 14px;
              color: #999; }
            .footer .conn .w1200 .qd .abm li p {
              padding-left: 20px;
              line-height: 24px; }
        .footer .conn .w1200 .qd .oklogo {
          overflow: hidden;
          padding-top: 45px;
          clear: both;
          text-align: center; }
          .footer .conn .w1200 .qd .oklogo a img {
            margin: 0 10px; }
        .footer .conn .w1200 .qd .about {
          line-height: 42px;
          text-align: center;
          color: #d7d7d7; }
          .footer .conn .w1200 .qd .about a {
            color: #777; }

.bt {
  background-color: #232323;
  text-align: center;
  color: #999;
  line-height: 24px; }

.floor {
  position: fixed;
  left: 5%;
  bottom: 5%;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  z-index: 9999;
  background-color: #FFF; }
  .floor div {
    transition: .5s;
    height: 50px;
    width: 50px;
    font-size: 16px;
    line-height: 50px;
    color: #999;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .floor div:hover {
    background: #eee;
    color: #5a5a5a; }
